<html>
    <head>
        {% if title %}
        <title>{{ title }} - Web</title>
        {% else %}
        <title>Добро пожаловать на WEB</title>
        {% endif %}
    </head>
    <body>
    <div>WEB:
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('login') }}">Login</a>
    </div>
    <hr>
    {% with massage = get_flashed_messages() %}
    {% if massages %}
    <ul>
        {% for massage in massages %}
        <li>{{ massage }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
    </body>
</html>